#boardDetailMain {
  padding: 76px 106px 80px 102px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  position: relative;
  width: 100%;
}
#backToList {
  position: absolute;
  right: 0;
}
#boardDetailCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  border: 0.5px solid var(--Grayscale-Gr_B, #bbb);
  background: var(--Grayscale-WHITE, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
  padding: 24px 24px 20px 24px;
  height: calc(100% - 100px);
  position: relative;
}
#boardDetailBody {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: 16px;
}
#plotDetailContents {
  margin-top: 4px;
}

#boardDetailFooter {
  display: flex;
  justify-content: space-between;
  border-top: 0.2px solid var(--Grayscale-GRAY, #949494);
  padding-top: 10px;
}

#extraInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

#extraInfo img {
  width: 20px;
  margin-right: 4px;
}

#toggleLikeButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 72px;
  height: 72px;
  border-radius: 50%;
  gap: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(102, 102, 102, 0.3);
}
#toggleLikeButton img {
  width: 31px;
  height: 28px;
}
#toggleLikeButton.black {
  background-color: #222;
  color: #fff;
}
#toggleLikeButton.black img {
  filter: invert(1) brightness(5) contrast(2);
}
#toggleLikeButton.white {
  background-color: #fff;
  color: #999;
}
#toggleLikeButton.white img {
  transform: rotate(180deg) scaleX(-1);
}
