#plotDetailPage {
  width: calc(100% - 288px);
  display: flex;
}
#plotDetailLeft {
  min-width: 471.5px;
  max-width: 471.5px;
  height: calc(100% - 3px);
  background-color: #f9f9f9;
  overflow: auto;
  position: relative;

  border-radius: 0px 20px 20px 0px;
  border: 0.5px solid var(--Grayscale-Gr_B, #bbb);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
}
#plotDetailRight {
  width: calc(100% - 490px);
  height: calc(100% - 105px);
  overflow: scroll;
  padding: 68px 65px 37px 63px;
}
#plotHeader.onDetail {
  position: fixed;
  background-color: #f9f9f9;
  padding: 61px 0 38px 20px;
  width: 452.5px;
  border-radius: 0px 20px 0px 0px;
  border-right: 0.5px solid var(--Grayscale-Gr_B, #bbb);
}
#backToList {
  margin-left: auto;
  width: 56px;
  height: 52px;
  border-radius: 8px 0px 0px 8px;
  border-right: 0.5px solid var(--Grayscale-Gr_3, #333);
  background: var(--Grayscale-Gr_3, #333);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#backToList img {
  width: 35px;
  height: 35px;
}

.plotDetailCard {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 14px 20px 14px 20px;
  border-bottom: 0.5px solid var(--Grayscale-Gr_B, #bbb);
}
.plotDetailCard .header {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}
.plotDetailCard .body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plotDetailCard .tag {
  width: max-content;
  background-color: #eee;
  padding: 4px 8px;
  border-radius: 999px;
  white-space: nowrap;
}

.plotDetailCard .title,
.plotDetailCard .contents {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

#plotDetailTags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 14px 0 17.5px 0;
}

#plotDetailButtons {
  display: flex;
  gap: 18px;
  margin-bottom: 46px;
}
