#plotBox {
  width: calc(100% - 288px);
  padding: 68px 12px;
}

#plotBoxBottom {
  height: calc(100% - 120px);
  display: flex;
  flex-wrap: wrap;
  border-radius: 9px;
  padding: 14px 11px;
  gap: 26px 24px;
  overflow: auto;
}
