.active {
  background-color: #f9f9f9;
  color: #000000 !important;
}
.clicked {
  filter: brightness(1) invert(1);
}
#plotHeader {
  position: relative;
}
#plotCount {
  padding: 0 15px;
  margin-left: 20px;
  border-radius: 8px;
}

#plotFilter {
  margin-top: 24px;
  gap: 8px;
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}

#filterButton {
  padding: 4px 8px;
  border-radius: 12px;
  gap: 20px;
}

#filterButton div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 16px;
  padding: 10px;
  gap: 10px;
  border-radius: 12px;
  cursor: pointer;
}

#searching,
#searching img,
#sorting,
#sorting img {
  width: 44px;
  height: 44px;
}
.circle_filter {
  border-radius: 50%;
}

/* 정렬 메뉴 */
#sortMenuBox {
  display: flex;
  flex-direction: column;
  width: 260px;
  align-items: start;
  border: 0.5px solid #ccc;
  border-radius: 8px;
  background-color: #ffffff;

  position: absolute;
  left: 235px;
  top: 130px;
  z-index: 999;
}
#sortMenuHeader {
  padding: 8px 12px;
}
#sortMenuBody {
  border-top: 0.5px solid #ccc;
}
.sortMenuItem {
  padding: 8px 12px;
  display: flex;
  gap: 8px;
  cursor: pointer;
}
.sortMenuItem:hover {
  background-color: #cccccc;
}

.sortIconBox {
  display: flex;
  width: 32px;
  height: 28px;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.sortIcon {
  width: 17.5px;
  height: 17.083px;
}
.orderIcon {
  width: 7.364px;
  height: 15.729px;
}
