#plotPromptRightBox {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

#plotPromptResult {
  width: calc(100% - 80px);
  display: flex;
  padding: 70px 40px 18.5px 40px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 12px;
  background: var(--Grayscale-WHITE, #fff);
  overflow-y: auto;
  box-shadow: 0px 4px 4px 0px rgba(102, 102, 102, 0.3);
  margin-top: -50px;
}

#promptBtnBox {
  display: flex;
  gap: 16px;
  margin-top: 48px;
  margin-bottom: 20px;

  width: calc(100% - 30px);
}

.promptBtn {
  display: flex;
  width: 33%;
  height: 92px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;

  border-radius: 12px;
  border: 1px solid var(--Grayscale-BLACK, #000);
  cursor: pointer;
}
