#plotBoardPage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 45px 76px 0 76px;
}

#plotBoardTop {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 8px;
}
#boardFilter {
  height: 44px;
}
#boardSortBox {
  display: flex;
  flex-direction: column;
  width: 260px;
  align-items: start;
  border: 0.5px solid #ccc;
  border-radius: 8px;
  background-color: #ffffff;

  position: absolute;
  left: 875px;
  top: 110px;
  z-index: 999;
}
#filterButton .filterItem {
  width: 70px;
}
#filterButton .filterItem.selected {
  border-radius: 12px;
  background: var(--Grayscale-WHITE, #fff);
  box-shadow: 1px 1px 2px 0px var(--Grayscale-Gr_D, #ddd);
}

#topCardList {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 52px;
  justify-content: space-between;
}

.topCard {
  width: 220px;
  height: 320px;
  padding: 24px 16px;
  border-radius: 16px;
  border: 1px solid var(--Grayscale-Gr_B, #bbb);
  background: var(--Grayscale-WHITE, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
}

.topCard.first {
  width: 260px;
  height: 360px;
  padding: 24px 16px;
  border-radius: 16px;
  background: var(--Grayscale-WHITE, #222);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
}

#topCardList .first .rank {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-bottom: 12px;
  border-radius: 999px;
  background: #ef514a;
  box-shadow: 0px 4px 4px 0px rgba(102, 102, 102, 0.3);
}
#topCardList .first .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 160px;
  margin: 12px 0;
}

#topCardList .rank {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin-bottom: 12px;
  border-radius: 999px;
  background: var(--Grayscale-WHITE, #fff);
  box-shadow: 0px 4px 4px 0px rgba(102, 102, 102, 0.3);
}

#topCardList .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 140px;
  margin: 12px 0;
}

#topCardList .author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 46px;
  margin: 12px 0;
}
#topCardList .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  margin: 20px 0;
}

#topCardList .footer img {
  width: 12px;
  height: 8.5px;
  margin: 0 5px;
}

#boardTableBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin: 40px 0 7px 0;
}
#boardTable {
  width: 100%;
  margin-bottom: 35px;
}
#boardTable thead th {
  padding: 8px;
}
#boardTable tbody tr {
  cursor: pointer;
}
#boardTable tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#boardTable tbody td {
  text-align: center;
  height: 39px;
}
#boardTable tbody .title {
  text-align: left;
}
#boardTable tbody tr td {
  padding: 24px 0;
  border-bottom: 0.5px solid var(--Grayscale-Gr_A, #aaa);
}

#boardTable tbody .views,
#boardTable tbody .likes {
  display: flex;
  justify-content: center;
  align-items: center;
}

#boardTable img {
  width: 20px;
  height: 18px;
  margin-right: 4px;
}

#randomButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0 12px;
  border-radius: 8px;
  background: var(--Grayscale-BLACK, #000);
  box-shadow: 0px 4px 4px 0px rgba(102, 102, 102, 0.1);
  cursor: pointer;
}

#randomButton img {
  width: 24px;
  height: 20px;
}

#plotBoardTopLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
