.promptBtn {
  display: flex;
  width: 33%;
  height: 92px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;

  border-radius: 12px;
  border: 1px solid var(--Grayscale-BLACK, #000);
  cursor: pointer;
}
.promptBtn.bigSize {
  width: 49% !important;
}

.promptBtn.dashed {
  border: 1.5px dashed var(--Grayscale-BLACK, #222);
}
