.sideMenu {
  border-radius: 12px;
  color: #f9f9f9;
  cursor: pointer;
}
div.sideMenu {
  display: flex;
  padding: 10px 36px;
  border-radius: 12px;
  color: #f9f9f9;
}

.active,
.active span,
.sideMenu:hover {
  background-color: #f9f9f9;
  color: #222;
}

.sideMenu img {
  filter: brightness(0) invert(1);
  width: 28px;
  height: 28px;
  margin-right: 8px;
}
.active img,
.sideMenu:hover img {
  filter: brightness(1) invert(1);
}

#sideMenuContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 180px 18px 35px 18px;
  color: #f9f9f9;
  width: 288px;
  height: calc(100% - 215px);
}

#sideMenuList {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sideMenuSub {
  padding-left: 70px;
}

.sideMenuSub ul {
  list-style-type: disc;
}
.sideMenuSub li {
  margin-bottom: 12px;
  cursor: pointer;
}
