/* 토글 메뉴 */
.toggleMenuBox {
  display: flex;
  flex-direction: column;
  width: 208px;
  height: 228px;
  align-items: start;
  border: 0.5px solid #ccc;
  border-radius: 8px;
  background-color: #ffffff;

  position: absolute;
  left: 80px;
  top: 50px;
  z-index: 999;
}
.toggleMenuHeader {
  width: 100%;
}
.toggleMenuHeader .headline_1 {
  width: 90%;
  padding: 8px 0 8px 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

.toggleMenuHeader .body_1 {
  width: 40px;
  padding: 8px 12px 8px 0;
}
.toggleMenuBody {
  border-top: 0.5px solid #ccc;
}
.toggleMenuItem {
  padding: 8px 12px;
  display: flex;
  gap: 8px;
  cursor: pointer;
}
.toggleMenuItem:hover {
  background-color: #cccccc;
}

.toggleIconBox {
  display: flex;
  width: 32px;
  height: 28px;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.toggleIcon {
  width: 17.5px;
  height: 17.083px;
}

.plotCardTitleToggle {
  background-image: "/burger.png";
}
