#confirmModalBackground {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

#confirmModal {
  background-color: #fff;
  width: 600px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 12px;
}

.footer {
  display: flex;
  gap: 28px;
}

#confirmModal .footer button {
  padding: 4px;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
}

#confirmModal .footer .blackBtn {
  color: #fff;
  background-color: #000;
}

#confirmModal .footer .whiteBtn {
  color: #000;
  background-color: #fff;
}
