#guest {
  cursor: pointer;
  margin-top: 19px;
}

#guestModal {
  border-radius: 12px;
  border: 1px solid var(--Grayscale-Gr_B, #bbb);
  background: var(--Grayscale-Gr_1, #111);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
  width: 448px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  z-index: 99;
}

#guestAlert {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

#guestButtons {
  display: flex;
  justify-content: center;
  gap: 24px;
}

#guestButtons button {
  width: 48px;
  height: 28px;
  border-radius: 4px;
  cursor: pointer;
}
.guestOk {
  background-color: #ccc;
  color: #000;
}
.guestCancel {
  background-color: #111;
  color: #ccc;
  border: 1px solid #ccc;
}
