<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true" />
    <setting name="jdbcTypeForNull" value="NULL" />
  </settings>

  <typeAliases>
    <typeAlias alias="TempDTO"              type="org.ohap.plotmaker.temporary.TempDTO" />
    <typeAlias alias="UserDTO"              type="org.ohap.plotmaker.login.UserDTO" />
    <typeAlias alias="PlotResponseDTO"      type="org.ohap.plotmaker.plot.PlotResponseDTO" />
    <typeAlias alias="PlotRequestDTO"       type="org.ohap.plotmaker.plot.PlotRequestDTO" />
    <typeAlias alias="PlotDTO"              type="org.ohap.plotmaker.plot.PlotDTO" />
    <typeAlias alias="PlotSearchParamDTO"   type="org.ohap.plotmaker.plot.PlotSearchParamDTO" />
    <typeAlias alias="PromptDTO"            type="org.ohap.plotmaker.prompt.PromptDTO" />
    <typeAlias alias="CodeDTO"              type="org.ohap.plotmaker.code.CodeDTO" />
    <typeAlias alias="CommentDTO"           type="org.ohap.plotmaker.comment.CommentDTO" />
  </typeAliases>
</configuration>